<html></html>


<form action="/form" method="post"><left>
	Enter the city: 
		<br>
		<br>
		<input type="text" name="message" placeholder="type the city here">
		<br>
		<br>

		<input type="submit" value="get a current time">
	</form>




<!--	<form action="/form" method="post"><center>
  What City? <input type="text" name="message" placeholder="Put your city name in here!">
  <br><br><br>
  <input type="submit" value="Get me the time!!!"></center>
</form>
